html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

ul {
    list-style-type: none;
}

.transition-main {
    transition: all 0.3s !important;
}

.mobile-handle-btn {
    padding: 6px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: transparent;
    transition: all 0.15s;
}

.active-menu {
    color: #3B82F6;
}

.is-active-li {
    color: #3B82F6;
    background-color: #f3f4f6;
    border-radius: 4px;
}

.max-container-width {
    max-width: 1400px;
}

.markdown-body {

    ol,
    ul,
    menu {
        list-style: disc !important;
        list-style-type: disc !important;
    }
}

/* 修复样式问题 */
.inline-block:has(pre) {
    display: block !important;
}

pre code {
    padding: 0px !important;
}

hyperlink-card {
    margin-top: 0px !important;
    margin-bottom: 1rem !important;
}

* {
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.transition-header-property {
    transition-property: background-color, border-color;
}