<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <style>
    /* 隐藏带有 x-cloak 属性的元素 */
    [x-cloak] {
      display: none !important;
    }
  </style>

  <header
    id="header"
    th:unless="${#lists.isEmpty(menuFinder.getPrimary.menuItems) && theme.config.header.showSearch == false && theme.config.header.showLogo == false && theme.config.header.showTitle == false}"
    th:fragment="header(isHomePage)"
    class="transition-header-property sticky top-0 z-50 flex h-[68px] w-full border-b p-4 duration-300 max-md:h-14 max-md:px-4 max-md:py-2"
    th:style="${isHomePage == true && theme.config.authorInfo.backgroundHeightType == 'screen'} ? 'background-color:transparent;border-color: transparent; color:' + ${theme.config.authorInfo.fontColor} : 'background-color:white;border-color: #e5e7eb;'"
    x-data="{
        isMobile: window.innerWidth < 768,
        isScrolled: false,
        fontColor: $el.getAttribute('data-font-color') || '#ffffff',
        backgroundHeightType: $el.getAttribute('data-background-height-type') || 'fit',
        init() {
            // 监听窗口大小变化
            window.addEventListener('resize', () => {
                this.isMobile = window.innerWidth < 768;
            });

            // 监听滚动事件
            window.addEventListener('scroll', () => {
                this.isScrolled = window.scrollY > 0;
            });

            // 初始化状态
            this.isScrolled = window.scrollY > 0;
        }
    }"
    x-bind:class="
    $root.hasAttribute('data-header-transparent') && backgroundHeightType == 'screen'
            ? (isScrolled ? '!bg-white !text-black !border-[#e5e7eb]' : '!bg-transparent !border-transparent')
            : '!bg-white !border-[#e5e7eb]'
    "
    th:attr="data-header-transparent=${isHomePage}, data-font-color=${theme.config.authorInfo.fontColor}, data-background-height-type=${theme.config.authorInfo.backgroundHeightType}"
  >
    <div
      class="max-container-width mx-auto flex w-full items-center justify-between gap-4 *:h-9"
      x-bind:style="
             $root.hasAttribute('data-header-transparent') && backgroundHeightType == 'screen'
                 ? (isScrolled ? '': ('color: ' + fontColor + ' !important;'))
                 : ''
         "
    >
      <!-- 左侧logo展示 -->
      <div class="flex gap-x-6 gap-y-3" style="flex: 1 0 auto">
        <!-- logo -->
        <th:block th:replace="~{modules/header/header-logo-area}" />

        <!-- 搜索区域（仅桌面端显示） -->
        <template x-if="!isMobile" th:if="${theme.config.header.showSearch == true}">
          <th:block th:replace="~{modules/header/header-search}" />
        </template>
      </div>

      <!-- 菜单区域（仅桌面端显示） -->
      <div x-show="!isMobile" x-cloak th:if="${!#lists.isEmpty(menuFinder.getPrimary.menuItems)}">
        <th:block th:if="${!isMobile}" th:replace="~{modules/header/header-main-menu}" />
      </div>

      <div x-show="isMobile" class="flex gap-2">
        <!-- 手机搜索样式（仅移动端显示） -->
        <template x-if="isMobile" th:if="${theme.config.header.showSearch == true}">
          <th:block th:replace="~{modules/header/header-mobile-search}" />
        </template>

        <!-- 手机菜单样式（仅移动端显示） -->
        <div x-show="isMobile" x-cloak th:if="${!#lists.isEmpty(menuFinder.getPrimary.menuItems)}">
          <th:block th:replace="~{modules/header/header-mobile-menu}" />
        </div>
      </div>
    </div>
  </header>
</html>
